<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<th:block layout:fragment="customTitle">
	<title>EN_genius</title>
</th:block>

	<th:block layout:fragment="contentFragment">
		<div class="col-md-12">
			<div class="card">
	        	<div class="card-header">
	            	<strong class="card-title">차량 리스트</strong>
	        	</div>
            <div class="card-body">
<table id="bootstrap-data-table" class="table table-striped table-bordered">
				
				<thead>
					<tr>
						<th>차대번호</th>
						<th>고객 이름</th>
						<th>차량 번호</th>
						<th>차량 명</th>
				   		<th>마지막 방문시 주행거리</th>
				        <th>마지막 방문일자</th>
				        <th>수정 및 상세보기</th>
				        <th>삭제</th>
					</tr>
				</thead>
				
				<tfoot>                                        
					<tr>
						<th>차대번호</th>
						<th>고객 이름</th>
						<th>차량 번호</th>
						<th>차량 명</th>
						<th>마지막 방문시 주행거리</th>
						<th>마지막 방문일자</th>
						<th>수정 및 상세보기</th>
						<th>삭제</th>
					</tr>
				</tfoot>
				<tbody>
			               
					<tr th:each="CL : ${voDetail}">
			            <td th:text="${CL.customerCarRegCode}"></td>
			            <td th:text="${CL.customerName}"></td>
			            <td th:text="${CL.customerCarNumber}"></td>
			            <td th:text="${CL.carModelDetail}"></td>
			            <td th:text="${CL.lastDistanceDriven}"></td>
			            <td th:text="${CL.lastVisitDate}"></td>
			            <td><a th:href="@{/carUpdateList(carUpList=${CL.customerCarRegCode})}">상세보기</a></td>          
			            <td><a th:href="@{dustmq}">삭제</a></td>                                        
					</tr>
				</tbody>
</table>
			</div>
		</div>
	</div>
	</th:block>
</html>