<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>EN_genius</title>
	</th:block>
	
	<th:block layout:fragment="customScript">			
	<script type="text/javascript">	 
		$(document).ready(function(){
			$('#add').click(function(){
				$('.modal-title').text('직원등록')
				$('.add').css('display','block')
				$('.modify').css('display','none')
				$('.resignation').css('display','none')				
				$('[name=edCode]').val('').prop(':selected');
				$('[name=ddCode]').val('').prop(':selected');
				$('[name=employeeName]').val('');
				$('[name=employeePass]').val('');
				$('[name=employeeBirth]').val('');
				$('[name=employeeAddr]').val('');
				$('[name=employeePost]').val('');
				$('[name=employeeGender]').val('');
				$('[name=employeePhone]').val('');
				$('[name=joinDate]').val('');
			})
			
			$('.updateBtn').click(function(){
				$('.modal-title').text('직원수정')
				$('.add').css('display','none')
				$('.modify').css('display','block')
				$('.resignation').css('display','block')
				$('.detail').css('display','none')

				var employeeCode = $(this).attr('data-employeeCode');
				var edCode = $(this).attr('data-edCode');
				var ddCode = $(this).attr('data-ddCode');
 				var employeeName = $(this).attr('data-employeeName');
				var employeePass = $(this).attr('data-employeePass');
				var employeeBirth = $(this).attr('data-employeeBirth');
				var employeeAddr = $(this).attr('data-employeeAddr');
				var employeePost = $(this).attr('data-employeePost');
				var employeeGender = $(this).attr('data-employeeGender');
				var employeePhone = $(this).attr('data-employeePhone');
				var joinDate = $(this).attr('data-joinDate');
				var resignationDate = $(this).attr('data-resignationDate');
				
				$('[name=edCode]').val(edCode).prop(':selected');
				$('[name=ddCode]').val(ddCode).prop(':selected');
				$('[name=employeeCode]').val(employeeCode);
				$('[name=employeeName]').val(employeeName);
				$('[name=employeePass]').val(employeePass);
				$('[name=employeePass]').attr('readonly',true);
				$('[name=employeeBirth]').val(employeeBirth);
				$('[name=employeeBirth]').attr('readonly',true);
				$('[name=employeeAddr]').val(employeeAddr);
				$('[name=employeePost]').val(employeePost);
				$('[name=employeeGender1]').val(employeeGender);
				$('[name=employeeGender1]').attr('readonly',true);
				$('[name=employeePhone]').val(employeePhone);
				$('[name=joinDate]').val(joinDate);
				$('[name=joinDate]').attr('readonly',true);
				$('[name=resignationDate]').val(resignationDate);
				
				$("#resignationBtn").val(employeeName);
				
				$('.post').click(function(){
					$('[name=employeeAddr]').val('');
					$('.detail').css('display','block')
				})
				
				$('#btnCloseLayer').click(function(){
					if($('[name=employeeAddr]').val()==''){
						$('[name=employeeAddr]').val(employeeAddr);
						$('.detail').css('display','none')
					}
				})

			});
			
			$('#addBtn').click(function(){
				$('form').attr('action','/employee/addEmployee')
				$('form').submit()
			})
			
			$('#modifyBtn').click(function(){
				$('form').attr('action','/employee/modifyE')
				$('form').submit()
			})
			
			$("#resignationBtn").on("click", function(){
				var employeeName = $(this).val();
			    if(confirm(employeeName+"님 퇴사 처리 진행 하시겠습니까?")){
					$('form').attr('action','/employee/resignationE')
					$('form').submit()
			    }
			})
			
		});
			
	</script>
	</th:block>
	
 	<th:block layout:fragment="contentFragment">
		<div class="col-lg-12" th:fragment="listfragment">
			<div class="card">
				<div class="card-header" style="background-color: #00c292;">
					<strong class="card-title">직원리스트</strong>
					<button type="button" id="add" th:text="등록" name="emInsertPopupBtn" data-toggle="modal" data-target="#myModal" style="float: right; background-color: #fff; color: #00c292;" class="btn btn-outline-link btn-sm"></button>			
				</div>				    
					<div class="table-stats order-table ov-h">
						<table class="table">
							<thead>
								<tr>
									<th>사진</th>
									<th>부서</th>
									<th>직책</th>
									<th>이름</th>
									<th>주소</th>
									<th>작업량</th>
									<th>입사일</th>
									<th>수정</th>
								</tr>
				            </thead>
				            <tbody th:each="I : ${employeeList}">
				                <tr>
				                    <td class="avatar">
				                        <div class="round-img">
				                            <a href="#"><img class="rounded-circle" src="/images/avatar/jic.jpg" alt=""></a>
				                        </div>
				                    </td>
				                    <td th:text="${I.employeeDepartment.dpName}"></td>
				                    <td th:text="${I.departmentDuty.dutyName}"></td>
				                    <td><span class="name" th:text="${I.employeeName}"></span> </td>
				                    <td><span class="product" th:text="${I.employeeAddr}"></span> </td>
				                    <td><span class="count">10</span></td>
				                    <td><span class="date" th:text="${I.joinDate}"></span></td>
				                    <td>
					                    <span
					                    data-toggle="modal"
					                    data-target="#myModal" 
					                    class="badge badge-complete updateBtn"			                 
					                    th:data-employeeCode="${I.employeeCode}" 
					                    th:data-edCode="${I.edCode}" 
					                    th:data-ddCode="${I.ddCode}" 
					                    th:data-dpName="${I.employeeDepartment.dpName}"
					                    th:data-dutyName="${I.DepartmentDuty.dutyName}"
					                    th:data-employeeName="${I.employeeName}"
					                    th:data-employeePass="${I.employeePass}"
					                    th:data-employeeBirth="${I.employeeBirth}"
					                    th:data-employeeAddr="${I.employeeAddr}"
					                    th:data-employeePost="${I.employeePost}"
					                    th:data-employeePhone="${I.employeePhone}"
					                    th:data-employeeGender="${I.employeeGender}"
					                    th:data-joinDate="${I.joinDate}"
					                    th:data-resignationDate="${I.resignationDate}"
					                    >수정</span>
				                    </td>
				                </tr>
				            </tbody>
						</table>
					</div> <!-- /.table-stats -->
			</div>
		</div>
	    
		<!-- Modal --><!-- fade 지우면 똑딱 뜨고 넣으면 소로록 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title" id="myModalLabel"></h3>
		      </div>
		      <div class="modal-body">
			    <form method="post">
			    	<div class="form-group">
				    <div class="input-group">
		   				<select name="edCode" class="form-control">
				    		<option value="" class="add">부서</option>
				    		<option th:if="${D.cCode eq '부서'}" th:each="D, i : ${dutyList}" th:value="${D.employeeDepartment.edCode}" th:text="${D.employeeDepartment.dpName}"></option>
				   		</select>
		   				<select name="ddCode" class="form-control">
				    		<option value="" class="add">직책</option>
				    		<option  th:unless="${D.cCode eq '부서'}" th:each="D, i : ${dutyList}" th:value="${D.employeeDepartment.edCode}" th:text="${D.employeeDepartment.dpName}"></option>
				   		</select>
				    </div>
				    </div>				    
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="hidden" name="employeeCode">
				    	<input type="text" name="employeeName" placeholder="이름" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="password" name="employeePass" placeholder="비밀번호" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="date" name="employeeBirth" placeholder="생일" class="form-control read">
				    </div>
				    </div>
					<div class="row">
						<div class="col-lg-6">
							<input class="form-control" type="text" id="post" name="employeePost" placeholder="주소" readonly="readonly"><br>
						</div>
						<div class="col-lg-6">
							<input class="form-control btn-danger post" type="button" onclick="DaumPostcode()" value="우편번호 찾기"><br>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input class="form-control" type="text"	id="address" name="employeeAddr" placeholder="주소" readonly="readonly"><br>
						</div>
						<div class="col detail">
							<input class="form-control" type="text" id="detailAddress" name="addrDetail" placeholder="상세주소"><br>
						</div>
					</div>
					<div id="layer">
						<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" onclick="closeDaumPostcode()" alt="닫기 버튼">
					</div>			 			    
				    <div class="form-group">
				    <div class="input-group">
				    	<select name="employeeGender" class="form-control add">
				    		<option value="">성별</option>
				    		<option value="남">남</option>
				    		<option value="여">여</option>
				   		</select>
				   		<input name="employeeGender1" type="text" class="form-control modify read">
				    </div>
				    </div>
				    <div class="form-group">
				    <div class="input-group">
				    	<input type="tel" name="employeePhone" placeholder="핸드폰" class="form-control">
				    </div>
				    </div>
				    <div class="form-group">
					<div class="input-group">
				    	<input type="date" name="joinDate" placeholder="입사일" class="form-control col read">
				    	<input type="date" name="resignationDate" placeholder="퇴사일" class="form-control col modify read">
					</div>
				    </div>
					<div class="modal-footer">
					  <button type="button" id="addBtn" class="btn btn-secondary btn-sm add">등록</button>
					  <button type="button" id="modifyBtn" class="btn btn-secondary btn-sm modify">수정</button>
					  <button type="button" id="resignationBtn" class="btn btn-secondary btn-sm resignation">퇴사</button>
					  <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
	<script src="/assets/js/addr.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>  
	</th:block>
</html>