<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis맵퍼  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace속성은 인터페이스의 위치를 적는다. -->
<mapper namespace="com.cafe24.radev.mapper.CheckMapper">
	<!-- id : mapper 관련 메서드명 resultType : vo주소.vo명 -->
	<select id="getRoutineCheckList" resultType="com.cafe24.radev.vo.RoutineCheck">
		SELECT 
			ri_code as riCode,
			bs_code as bsCode,
			ri_item as riItem,
			distance_cycle as distanceCycle,
			period_cycle as periodCycle,
			ri_writer as riWriter,
			ri_date as riDate
		FROM
			routine_inspection_tb
	</select>

	<select id="getDate" parameterType="String" 
	 	resultType="String">
		SELECT 
		TIMESTAMPDIFF(month, #{repairDate}, now());
	</select>

	<select id="getAskCheck" parameterType="String" 
	 	resultType="com.cafe24.radev.vo.AskCheck">
 		SELECT
			arrayAsk.customer_car_info_code AS customerCarInfoCode,
			R.ri_code AS riCode,
			R.ri_item AS riItem,
			MAX(arrayAsk.ask_repair_date) AS askRepairDate,
			R.period_cycle AS periodCycle,
			R.now_date AS nowDate
		FROM
			routine_inspection_tb AS R
		INNER JOIN
			(
				SELECT
					*
				FROM
					ask_check_tb AS ask
				ORDER BY
					ask.ask_repair_date DESC
			) AS arrayAsk
		ON
			R.ri_code = arrayAsk.ri_code
		WHERE 
			arrayAsk.customer_car_info_code = #{car}
		GROUP by
			arrayAsk.ri_code
	</select>
	
	<select id="getBigCheckList" parameterType="String" 
	 resultType="com.cafe24.radev.vo.BasicCheck">
		SELECT
			b.ck_big_name as ckBigName,
			m.ck_mid_name as ckMidName
		FROM 
			check_bigcate_tb AS b
		INNER join
			check_midcate_tb AS m
		ON 
			b.ck_big_code = m.ck_big_code
		WHERE 
			b.ck_big_name = #{bigCate}
	</select>
	
	<select id="getMidCheckList" parameterType="String" 
	 resultType="com.cafe24.radev.vo.BasicCheck">
		SELECT
			m.ck_big_name as ckBigName,
			m.ck_mid_name as ckMidName,
			s.ck_small_content as ckSmallContent
		FROM 
			check_smallcate_tb AS s
		INNER join
			check_midcate_tb AS m
		ON
			s.ck_mid_code  = m.ck_mid_code
		WHERE
			m.ck_mid_name = #{midCate}
	</select>

	<select id="getSmallCheckList" parameterType="String" 
	 resultType="com.cafe24.radev.vo.BasicCheck">
		SELECT
			m.ck_big_name as ckBigName,
			m.ck_mid_name as ckMidName,
			s.ck_small_content as ckSmallContent
		FROM 
			check_smallcate_tb AS s
		INNER join
			check_midcate_tb AS m
		ON
			s.ck_mid_code  = m.ck_mid_code
		WHERE
		s.ck_small_content = #{smallCate}
	</select>

			
</mapper>